In [41]:
import pandas as pd

dataset = pd.read_csv("car data.csv")
print(dataset.shape)
dataset.head()

(301, 9)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [42]:
dataset.drop_duplicates(inplace=True)
y = dataset['Selling_Price']
X = dataset.drop('Selling_Price', axis=1)
print(X.shape, y.shape)

(299, 8) (299,)

In [43]:
cat_col_names = []
num_col_names = []

for col in X.columns:
    if X[col].dtype == 'object':
        cat_col_names.append(col)
    else:
        num_col_names.append(col)

print(cat_col_names)
print(num_col_names)

['Car_Name', 'Fuel_Type', 'Selling_type', 'Transmission']
['Year', 'Present_Price', 'Driven_kms', 'Owner']

In [44]:
for col in cat_col_names:
    print(len(X[col].unique()))

98
3
2
2

In [45]:
cat_col_names = cat_col_names[1:]
print(cat_col_names)

['Fuel_Type', 'Selling_type', 'Transmission']

In [46]:
cat_cols = X[cat_col_names]
num_cols = X[num_col_names]

In [53]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
cat_cols_OH = pd.DataFrame(encoder.fit_transform(cat_cols))
cat_cols_OH.head()

                                             0
0    (0, 2)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0
1    (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0
2    (0, 2)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0
3    (0, 2)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0
4    (0, 1)\t1.0\n  (0, 3)\t1.0\n  (0, 6)\t1.0